#psuedo_underline{
    position: relative;
}
#psuedo_underline::before{
    position: absolute;
    content: '';
    left: 50%;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: teal;
    transition: all 0.2s ease;
}
#psuedo_underline:hover::before{
    width: 100%;
    transform: translate(-50%,-50%);
}
nav{
    background-color: var(--navbar-color);
    
}
.ecologo,.orglogo{
    text-shadow: 0px 0px 5px rgb(43, 206, 228);
}