@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(39, 1, 1);
}

.carousel img{
    width: 100vw;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    color: white;
    opacity: 0.7;
    filter: drop-shadow(0px 0px 5px #000000);
    transition: all 0.2s ease;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.slide-hidden{
    display: none;
}
.indicator-inactive{
    background-color: gray;
}

.Carousel-main{
    position: relative;
}
.Carousel-main img{
    /* scale: 150%; */
    animation: scaledown 3s linear forwards;
}
@keyframes scaledown{
    from{
        scale: 120%;
    }
    to{
        scale: 100%;
    }
}
.Carouseltext{
    position: absolute;
    bottom: 0%;
    color: rgba(93, 29, 211, 0.849);
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-style: italic;
    font-size: 50px;
}
@media only screen and (max-width:767px){
    .Carouseltext{
        font-size: 30px;
    }
}