.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(39, 1, 1);
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    opacity: 0.7;
    filter: drop-shadow(0px 0px 5px #000000);
    transition: all 0.2s ease;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.slide-hidden{
    display: none;
}
.indicator-inactive{
    background-color: gray;
}